myenv
brasilio_covid19_municipios_desatualizados-checkpoint.ipynb
desatualizados.ipynb
MG_PDF-checkpoint.ipynb
RN_PDF_extracao.ipynb
Tocantins.ipynb
DOC000000000256248.PDF
rio_grande_do_norte_26-04-2021.csv
pdfs/
regex.ipynb
rio_grande_do_norte_05-01-2021.csv
rio_grande_do_norte_06-01-2021.csv
rio_grande_do_norte_07-01-2021.csv
rio_grande_do_norte_08-01-2021.csv
rio_grande_do_norte_09-01-2021.csv
rio_grande_do_norte_11-01-2021.csv
rio_grande_do_norte_12-01-2021.csv
rio_grande_do_norte_13-01-2021.csv
rio_grande_do_norte_14-01-2021.csv
rio_grande_do_norte_15-01-2021.csv
rio_grande_do_norte_27-04-2021.csv