myenv
brasilio_covid19_municipios_desatualizados-checkpoint.ipynb
desatualizados.ipynb
MG_PDF-checkpoint.ipynb
RN_PDF_extracao.ipynb
Tocantins.ipynb
pdfs/
regex.ipynb
*.csv
*.xlsx
*.pdf
webscreaping_venv/
.vscode/